@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700|Poppins:300,400,500,600&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #777;
}

header {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px;
}

header h1 {
	font-size: 20px;
}

#hero {
	/*
	background-image: url("../img/slide-1.jpg");
	background-size: cover;
	background-position: center;
	padding: 20% 0;
	text-align: center;
	color: #fff;
	*/
}

#hero h3, #hero h2 {
	text-transform: uppercase;
}

#hero h3 {
	color: #CDB083;
	font-size: 18px;
}

#hero h2{
	font-size: 45px;
	font-family: 'Crimson Text', serif;
}

#hero h2 span{
	display: block;
}

#hero .btn-light {
	padding: 4px 40px;
	background-color: transparent;
	border: 1px solid #cdb083;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 0;
	color: #cdb083;
}

#hero .btn-light:hover {
	border: 1px solid #B59667
}

.section {
	padding: 10% 0;
}

#modern {
	background-color: #f2f2f2;
}

.titulo {
	color: #af9f66;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: 8px;
	font-weight: 400;
	font-family: 'Crimson Text', serif;
}

.subtitulo {
	color: #999794;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	letter-spacing: 8px;
	margin-bottom: 20px;
}

#modern h4 {
	color: #999794;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 0;
}

.btn-dorado {
	background-color: #af9f66;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 20px;
	border: 0;
}

.btn-dorado:hover {
	background-color: #fff;
	color: #af9f66;
}

#world {
	background-color: #f2f2f2;
}

#world .subtitulo {
	padding: 8px 0;
	position: relative;
	top: 20px
}

#world .section {
	padding: 10% 0;
}

#world li{
	margin-bottom: 15px;
}

#world .btn-dorado {
	background-color: #fff;
	color: #af9f66;
	border: 1px solid #af9f66;
}

#world .btn-dorado:hover {
	border-color: #fff;
}

.subtitulo::before, .titulo::after {
	content: "";
	width: 1px;
	height: 60px;
	background-color: #d2d2d2;
	display: block;
	margin: 10px auto 30px;
}

#hero h3::before, #hero h2::after {
	content: "";
	width: 1px;
	height: 60px;
	background-color: #af9f66;
	display: block;
	margin: 10px auto 30px;
}

.carousel-caption {
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}

.nav-sociales a{
	background-color: #af9f66;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	line-height: 30px;
	text-align: center;
	padding: 0;
	margin-right: 15px;
	font-size: 12px;
}

.nav-sociales a:hover {
	background-color: #fff;
	color: #af9f66;
}

.nav-sociales.navbar-nar .nav-link:hover {
	border: 0;
}
